<!DOCTYPE html>
<html lang="ru_RU" ng-app="atomTestApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#333333">
        <title>Atom test</title>
        <link rel="shortcut icon" href="./favicon.ico">
        <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
        <script src="./assets/js/libraries.js"></script>
        <script src="./assets/js/app.js"></script>
    </head>
    <body ng-controller="menuController as menuVm">
        <nav class="navbar navbar-default">
            <div class="menu__button-block">
                <div ng-if="menuVm.authService.isAuth()" class="menu__button dropdown" uib-dropdown is-open="status.isopen">
                    <button id="menu-button" type="button" class="close" uib-dropdown-toggle>
                        <i class="glyphicon glyphicon-align-justify"></i>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="menu-button">
                        <li role="menuitem" ng-click="menuVm.selectMenuItem(menuVm.bookService.urlHash)" ng-class="{'active' : menuVm.isActiveMenuItem(menuVm.bookService.urlHash)}">
                            <a href="{{menuVm.bookService.getUrl()}}">{{menuVm.bookService.titleList}}</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__title-block">
                    <a href="#/" class="navbar-brand">Atom test</a>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right menu__button-logout">
                <li ng-if="menuVm.authService.isAuth()">
                    <a href="" ng-click="menuVm.loginService.logoutUser()"><i class="glyphicon glyphicon-exit"></i> Sign out</a>
                </li>
            </ul>
        </nav>
        <div id="main" class="rb-container"> 
            <div ng-view></div>    
        </div>
    </body>
</html>