.my-images {
    @include my-display-expanded-table;
    malign-bottom: $my-padding-medium;
    margin-left: -$my-padding-small;

    .my-image-item {
        @include my-inline-block;
        width: 100%;

        &.my-image-edit {
            width: auto;

            img {
                @media screen and (max-width: $screen-phone) {
                    height: $my-xxxhdpi-image-height;
                    width: $my-xxxhdpi-image-width;
                }
            }
        }

        img {
            height: $my-xxxhdpi-image-height;
            width: $my-xxxhdpi-image-width;
            margin: $my-padding-small;
            background-position: top;
            background-size: cover;

            @media screen and (max-width: $screen-phone) {
                height: $my-xxxhdpi-image-height;
                width: 100%;
            }
        }
    }
}