table {
    .my-images {
        .my-image-item {
            img {
                height: $my-lg-image-height;
                width: $my-lg-image-width;

                @media screen and (max-width: $screen-phone) {
                    height: $my-xxxhdpi-image-height;
                    width: 100%;
                }
            }
        }
    }
}